{% extends 'layout.html.twig' %}

{% trans_default_domain 'game' %}

{% block title 'win.title'|trans %}

{% block subtitle 'win.subtitle'|trans %}

{% block body %}

    <p>
        {% trans with {
            '%word%': "<strong>#{game.word}</strong>",
            '%score%': 12
        } %}
            win.message
        {% endtrans %}
    </p>

{% endblock %}
